.part-5 {
    height: 0rem;
    position: relative;
}

.part-5 p {
    font-family: "Inquisition";
    font-size: medium;
    color: white;
    text-shadow: 1px 1px 1px black;
}


#team-input {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 10rem;
    max-width: 50rem;
    /* border: 1px solid red; */
    /* todo, find an appropriate border style, this looks too open */
}

.team {
    min-width: 7.5rem;
    padding: none;
    margin: none;

}

.team-name {
    margin: auto;
}

.team input {
    display: none;
}

.team .faction-icon {
    height: 45px;
    width: 45px;
    background-size: cover;
}

.faction-icon img {
    height: 45px;
    width: 45px;
}


#team-input [type=radio]+img {
    cursor: pointer;
}

#team-input [type=radio]:checked+img {
    filter: sepia(100%) drop-shadow(4px 1px 3px rgb(255, 143, 3)) drop-shadow(-4.25px -1px 3px rgb(255, 143, 3)) contrast(95%);

}

/* Custom scrollbar  */
#team-input::-webkit-scrollbar {
    display: none;
}

/* #outer-perfect {
    display: flex;
    flex-direction: row;
} */


.horizontal-scroll .ps__rail-x {
    height: .25rem !important;
    width: 100%;
    background-color: black !important;
    border: 1px solid rgba(225, 183, 0, .85) !important;
    box-shadow: 0px 0px 5px rgb(225, 183, 0);
    position: absolute;
    bottom: 2rem !important;
    opacity: 1 !important;
    scale: 70%;
    /* background-color: transparent !important; */
    filter: sepia(100%) drop-shadow(4px 1px 3px rgb(255, 143, 3)) drop-shadow(-4.25px -1px 3px rgb(255, 143, 3)) contrast(95%);

    /* filter: sepia(100%) drop-shadow(4px 1px 3px rgb(255, 143, 3)) drop-shadow(-4.25px -1px 3px rgb(255, 143, 3)) contrast(95%); */
}


.horizontal-scroll .ps__rail-x::before {
    content: '';
    background-image: url('https://i.imgur.com/oTediJN.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -.95rem;
    left: -1rem;
    width: 2rem;
    height: 2rem;
    /* background: #ccc; */
    /* border-radius: 50%; */
    filter: invert() sepia(100%) drop-shadow(4px 1px 3px rgb(255, 143, 3)) drop-shadow(-4.25px -1px 3px rgb(255, 143, 3)) contrast(95%);

    z-index: 1;

}

.horizontal-scroll .ps__rail-x::after {
    content: '';
    background-image: url("https://i.imgur.com/UpFYkCd.png");
    filter: invert() sepia(100%) drop-shadow(4px 1px 3px rgb(255, 143, 3)) drop-shadow(-4.25px -1px 3px rgb(255, 143, 3)) contrast(95%);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -.95rem;
    left: 98%;
    width: 2rem;
    height: 2rem;
    /* background: #ccc; */
    /* border-radius: 50%; */
    z-index: 1;

}


.horizontal-scroll .ps__rail-x:hover {
    /* height: 30px; */

}

.horizontal-scroll .ps__thumb-x:hover {
    cursor: pointer;
}

.horizontal-scroll .ps__thumb-x {
    background-color: transparent !important;
    height: 2.5rem !important;
    width: 3.5rem !important;
    position: absolute;
    bottom: -1.2rem !important;
    /* display: flex; */
    background-image: url("https://i.imgur.com/lJmP1jX.png");
    scale: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 4px;
    opacity: 1 !important;
    z-index: 1;
    /* filter: 0px 0px 100px rgb(225, 183, 0); */

    filter: sepia(100%) drop-shadow(4px 1px 3px rgb(255, 143, 3)) drop-shadow(-4.25px -1px 3px rgb(255, 143, 3)) contrast(95%);

}



.form-location,
.form-about {
    color: whitesmoke;
    font-family: "Inquisition";
}

.form-location input,
.form-about textarea {
    background-color: black;
    color: whitesmoke
}

.form-location input:focus,
.form-about textarea:focus {
    color: white;
    background-color: black;
}

@media screen and (max-width: 750px) {
    .part-5 {
        /* border: 1px solid azure; */
        height: 0rem;
        position: relative;
        top: -1.5rem;
        left: .75rem;
    }

    .faction-label {
        position: relative;
        top: -4rem;
        left: 40vw;
    }

    #team-input {
        position: absolute;
        top: 0;
        max-width: 90vw;
    }

    .form-location,
    .form-about {
        position: relative;
        margin: 0;
        padding: 0;
        top: 10rem;
    }

    .form-location {
        max-width: 10rem !important;

        left: 28vw
    }

    .form-about {
        max-width: 10rem !important;
        left: 48vw
    }

    .horizontal-scroll {
        touch-action: none;
    }
}
