#athlete-form-box {

    max-height: 100%;
}

.form-control {
    display: flex;
    justify-content: center;
    width: 100%;
}

#athlete-form {
    border: 1px solid orange;
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    display: grid;
    grid-template-rows: 4;
    /* flex-direction: column;
    justify-content: space-evenly; */

}

/*  grid start */
#form-head {
    grid-row: 1;
    height: 100px;
    border: 1px solid purple;

}

#fields {
    grid-row: 2;
    height: 10rem;
    /* border: 1px solid purple; */
}

#errors {
    grid-row: 3;
}

#buttons {
    grid-row: 4;
}

/* grid end */

#athlete-form input {
    /* width: 200px; */
}

/* .part-1 {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    height: 8rem;
}

.part-2 {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 8rem;

}

.part-3 {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    height: 8rem;

} */
.part-1,
.part-2,
.part-3,
.part-4 {
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    height: 8rem;
}

#athlete-errors {
    color: crimson;
    border: 1px solid crimson;
    list-style: none;
}

#buttons {
    display: flex;
    margin: auto;
    border: 1px solid blue;
}
