/* 
Check this out for radio buttons with image backgrounds:
 
"https://stackoverflow.com/questions/37114081/style-bootsrap-radio-buttons-via-images"

*/


.form-check-label {
    background-image: url("https://i.pinimg.com/736x/cf/86/65/cf8665820bced2d38bc7cd125e66f104--dragon-age-inquisition-tarot-cards.jpg");
    /* object-fit: cover; */
    background-size: cover;
    height: 100%;
}

#sports-select {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid red;
    color: white;
}

#sports-select input {
    border: 1px solid chartreuse;
    /* display: none; */
}


.sport label {
    border: 5px solid purple;
    height: 200px;
    width: 200px;
    color: white;
    display: flex;
    flex-direction: column;
}

.sport img {
    height: 200px;
    width: 200px;
}
