/* 
Check this out for radio buttons with image backgrounds:
 
"https://stackoverflow.com/questions/37114081/style-bootsrap-radio-buttons-via-images"

*/


/* .form-check-label {
    object-fit: cover;
    background-size: cover;
    height: 100%;
} */

#sports-select {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid red;
    color: white;
    padding-bottom: 100px;


    overflow: hidden;
    /* width: 40rem; */
    height: 30rem;
    margin: auto;
}

#sports-select div {
    /* todo THIS IS THE PART*/
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

/* ///////////// */

#sports-select div.hideLeft {
    opacity: 0;
    transform: translateY(40%) translateX(-400%);
    rotate: -20deg;
}


#sports-select div.prevLeftSecond {


    z-index: 4;
    transform: translateY(30%) translateX(-260%);
    rotate: -10deg;
}

#sports-select div.prev {

    z-index: 5;
    transform: translateY(20%) translateX(-130%);
    rotate: -8deg;

}

#sports-select div.selected {
    rotate: 0deg;
    z-index: 10;
    transform: translateY(-0%) translateX(-0%);
    /* transition: rotate 1s, transform 1s, left 1.2s, z-index 0s; */

}

#sports-select div.next {
    z-index: 6;
    transform: translateY(20%) translateX(30%);
    /* transform: translateY(5%) translateX(0%); */
    rotate: 8deg;
}


#sports-select div.nextRightSecond {
    z-index: 5;
    transform: translateY(30%) translateX(160%);
    rotate: 10deg;
    /* 
    transform: translateY(20%) translateX(0%);
    rotate: 15deg; */

}

#sports-select div.hideRight {
    opacity: 0;
    transform: translateY(40%) translateX(500%);
    /* transform: translateY(20%) translateX(0%); */
    rotate: 20deg;
}

/* //////////// */


#sports-select input {
    display: none;
}


.sport label {
    color: white;
    display: flex;
    flex-direction: column;
    background-size: cover;
    /* height: 26rem;
    width: 15rem;
    margin-left: -1.5rem;
    margin-bottom: -1rem; */
    height: 33ch;
    width: 19ch;
    margin-left: -1.5rem;
    margin-bottom: -1rem;
}

.sport img {
    /* height: 200px;
    width: 200px; */

}


.selectedSport,
#sports-select .selected {
    border: 3px solid chartreuse !important;
    height: 33.70ch;
    position: relative;

}





/* 


#Rogue-card {
    rotate: -15deg;
    transform: translateY(20%) translateX(0%);
}



#RogueBow-card {
    transform: translateY(5%) translateX(0);
    rotate: -10deg;

}
#Warrior2H-card {
    rotate: 0deg;


}

#Warrior-card {
    transform: translateY(5%) translateX(0%);
    rotate: 10deg;
}

#Mage-card {
    transform: translateY(20%) translateX(0%);
    rotate: 15deg;
}
 */






/* gonna need a lot of query work to make this mobile-friendly! */
@media screen and (orientation:portrait) {

    #sports-select {
        width: 100vw;
        overflow: scroll;
    }

}

@media mobile and (orientation:landscape) {

    #sports-select {
        width: 80cqw;
        overflow: scroll;
    }

}
