#CropEasy {
    font-family: "Inquisition";
    /* margin: auto; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crop-easy-outer {
    display: flex;
    flex-direction: column;
    position: relative;
    /* z-index: 0; */
    overflow: visible;

}

/* 
.reactEasyCrop_Contain {
    overflow: visible;
} */

.crop-cropper {
    background-color: black;
    position: relative;
    width: 16rem;
    height: 25rem;
    z-index: 1;
}



.crop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    position: relative;
    /* overflow: visible; */


}

.crop-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    position: absolute;
    left: 29vw;
    top: 9rem;
    width: 30vw;
    margin: auto;
}

.crop-bttn-div {
    position: relative;
    width: 5rem;
    top: .8rem;

}

.crop-bttn-border {
    transform: skewX(22.5deg);
    border: 1px solid whitesmoke;
    height: 2rem;
    width: 4rem;
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
}

.crop-bttn {
    position: relative;
    top: -1.9rem;
    left: 0;
    color: white;
    background-color: transparent;
    border: none;
    /* box-shadow: -1px -.25px 5px rgb(whitesmoke); */

}

.crop-bttn-div:hover {
    /* border: 1px solid red; */
    /* height: min-content; */
    /* scale: 110%; */

}

.crop-bttn:hover {
    position: relative;
    top: -1.9rem;
    left: 0;
    color: white;
    border: none;
    border-radius: 20px;
}

.horizontal-slider {
    width: 16.5rem;
    max-width: 25rem;
    margin: auto;
    position: relative;
    /* top: -19.5rem;
    left: 24rem; */
    height: 1.8rem;
    background-color: black;
    transform: skewX(22.5deg);
    box-shadow: -1px -.25px 5px rgb(255, 91, 3);
}

.zoom-thumb {
    margin-left: 3.5px;

    background-clip: padding-box;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 1.35rem;
    height: 1.35rem;
    margin-top: 21px;
    cursor: pointer;
    position: absolute;
    top: -1.1rem;
    z-index: 100;
    background: #f0cd86;
    display: block;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
    filter: sepia(100%) drop-shadow(2.25px 1px 3px rgb(255, 91, 3)) drop-shadow(-2.25px -1px 3px rgb(255, 91, 3)) contrast(95%);

}

.zoom-track {
    position: relative;
    /* background: #ddd; */
    /* background: #ddd; */
    width: 90%;

}

.zoom-track.zoom-track-0 {
    /* background: rgba(0, 149, 246, .6); */
}

.horizontal-slider .zoom-track {
    top: 29px;
    height: 4px;
}



@media screen and (max-width: 750px) {
    #CropEasy {
        max-height: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 24.5rem;
        left: 1.5rem;
    }

    .crop-easy-outer {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 3rem;
    }

    .crop-container {
        display: flex;
        height: 15rem !important;
        width: 10rem !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid red;
        overflow-x: hidden;
        position: relative;
        top: 1.5rem;
    }

    .crop-cropper {
        background-color: black;
        position: relative;
        width: 14rem;
        height: 25rem;
        z-index: 1;
    }

    .reactEasyCrop_CropArea {
        /* border: 1px solid red !important; */
        /* scale: 100% !important;
         */
        /* height: 25rem !important;
        width: 14.5rem !important; */
    }

    .crop-slider {
        /* border: 1px solid red; */
        position: relative;
        width: 12rem;
        left: -5rem;
        top: 2rem;
    }


}
