#CropEasy {
    /* margin: auto; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crop-easy-outer {
    display: flex;
    flex-direction: column;
    position: relative;
    /* z-index: 0; */

}

.crop-cropper {
    background-color: black;
    position: relative;
    width: 16rem;
    height: 25rem;
    z-index: 1;
}

/* .crop-bttn {
    position: relative;
    top: -12rem;
    left: 25rem;
    margin: 10px;
} */

.crop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    position: relative;

}

.horizontal-slider {
    width: 20rem;
    max-width: 25rem;
    margin: auto;
    position: relative;
    top: -15rem;
    left: 25rem;
}

.zoom-thumb {
    overflow: hidden;
    color: #0095F6;
    width: 20px;
    height: 20px;
    margin-top: 21px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: #0095F6;
    border: 5px solid #0095F6;
    border-radius: 100%;
    display: block;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}

.zoom-track {
    position: relative;
    background: #ddd;
}

.zoom-track.zoom-track-0 {
    background: rgba(0, 149, 246, .6);
}

.horizontal-slider .zoom-track {
    top: 29px;
    height: 4px;
}



@media screen and (max-width: 875px) and (orientation:portrait) {
    #CropEasy {
        max-height: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 24.5rem;
        left: 1.5rem;
    }

    .crop-easy-outer {
        display: flex;
        flex-direction: column;
        position: relative;
        left: -2rem;
    }

    .crop-container {
        display: flex;
        scale: .55;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */

        position: relative;
        top: .25rem;
        left: 4.75rem;
    }

    .crop-bttn {
        position: absolute;
        top: 20rem;
        left: 15rem;
        /* width: 1rem; */
        margin: 10px;
    }

    .horizontal-slider {
        width: 20rem;
        max-width: 25rem;
        margin: auto;
        position: relative;
        top: -1rem;
        left: 0rem;
    }

}
