/* taken care of in carousel.css */

.outer-profile {
    height: 24rem;
    width: 15rem;
    box-sizing: border-box;

}

.profile {
    width: 100%;
    /*card animation stuff*/
    border-radius: 3px;
    perspective: 1000px;

}


.card {
    position: relative;
    width: 100%;
    text-align: center;
    /*card animation stuff*/
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

.card-front {
    position: relative;
    margin: -10px;
    /* margin-top: -.8rem; */
    border-radius: 35px 2px 35px 2px;

}

.card-back {
    position: relative;
    padding: -25px;
    /* border-radius: 2px 35px 2px 35px; */
    border-radius: 2px 35px 2px 35px !important;

    /* margin-top: -.8rem; */

}

.card-img {
    object-fit: contain;
    height: 24rem;
    /* width: 28rem; */
    /* width: 100%; */
    border-radius: 35px 2px 35px 2px !important;

    background-color: white;

}

.back-img {
    height: 55%;
    width: 55%;
    object-fit: contain;
}


.front-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(200, 200, 200, .1);
    /* z-index: -1; */
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    color: red;
    height: 24rem;
    border: 1px solid white;
    outline: 10px solid white;
    border-radius: 35px 2px 35px 2px;

}

.front-info {
    font-size: 20px;
    font-family: "Inquisition";
}

.side-by-side {
    display: flex;
    justify-content: space-evenly;
}

.front-info .name {
    font-size: 30px;
    font-family: "InquisitionBold" !important;

}

.front-info .sports {
    /* font-size: 15px; */
}

.faction-icon {
    filter: drop-shadow(0px 1px 2px black);
}

.back-info {
    position: absolute;
    width: 100%;
    height: 24rem;
    background-color: rgb(86, 83, 83);

    border: 3px solid white;
    outline: 12px solid white;
    /* border-radius: 35px 2px 35px 2px; */
    border-radius: 2px 1.5rem 2px 1.5rem !important;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.back-img {
    position: absolute;
    right: 0;
}

.card-back .side-by-side {
    width: 100%;
}

.about-box {
    position: absolute;
    display: flex;
    flex-direction: column;

    bottom: 3rem;
    width: 100%;
}

#about-scroll {
    position: relative;
    bottom: 0.25rem;
    right: 0;
    padding-left: .25rem;
    text-align: left;
    height: 4.5rem;
    /* border: 1px solid gold; */
    width: 98%;
    overflow-x: none;
    overflow-y: scroll;
    height: 5rem;
}

#about-scroll .ps__rail-x {
    display: none;
}

#athletes .about-box .location {
    position: relative;
    top: 3rem;
}

.card-front #basic-info {
    width: 100%;
}

.card-back #basic-info {
    width: 40%;

}

.card-back .about-box {
    width: 100%;
    height: 45%;

}

.about::-webkit-scrollbar {
    display: none;
}


/* Carousel */
.white-arrow {
    height: 50px;
    width: 50px;
    z-index: 10000;
}

.white-arrow:hover {
    cursor: pointer;
}


/* Card animation*/
/* TODO restore flip */
.profile:hover .card {
    transform: rotateY(180deg);
}

/* .profile .card {
    transform: rotateY(180deg);
} */

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front {
    background-color: #bbb;
    color: black;

}

.card-back {
    color: white;
    transform: rotateY(180deg);

}


.vertical-scroll .ps {
    overflow-y: scroll;
}

/* About scroll */

.vertical-scroll .ps__rail-y {
    width: .25rem !important;
    scale: 90%;
    background-color: black !important;
    border: 1px solid rgba(225, 183, 0, .85) !important;
    box-shadow: 0px 0px 5px rgb(225, 183, 0);
    position: absolute;
    right: .25rem !important;
    opacity: 1 !important;
    filter: sepia(100%) drop-shadow(4px 1px 3px rgb(255, 143, 3)) drop-shadow(-4.25px -1px 3px rgb(255, 143, 3)) contrast(95%);
}


.vertical-scroll .ps__thumb-y:hover {
    cursor: pointer;
}

.vertical-scroll .ps__thumb-y {
    background-color: transparent !important;
    height: 1.5rem !important;
    width: 2.5rem !important;
    position: absolute;
    right: -1.7rem;
    background-image: url("https://i.imgur.com/nPzw47f.png");
    scale: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 4px;
    opacity: 1 !important;
    z-index: 1;
    /* filter: 0px 0px 100px rgb(225, 183, 0); */

    filter: sepia(100%) drop-shadow(4px 1px 3px rgb(255, 143, 3)) drop-shadow(-4.25px -1px 3px rgb(255, 143, 3)) contrast(95%);

}

.vertical-scroll .ps__rail-y::before {
    content: '';
    background-image: url('https://i.imgur.com/oTediJN.png');
    transform: rotate(90deg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -.5rem;
    left: -.45rem;
    width: 1rem;
    height: 1rem;
    filter: invert() sepia(100%) drop-shadow(4px 1px 3px rgb(255, 143, 3)) drop-shadow(-4.25px -1px 3px rgb(255, 143, 3)) contrast(95%);
}

.vertical-scroll .ps__rail-y::after {
    content: '';
    background-image: url("https://i.imgur.com/UpFYkCd.png");
    transform: rotate(90deg);

    filter: invert() sepia(100%) drop-shadow(4px 1px 3px rgb(255, 143, 3)) drop-shadow(-4.25px -1px 3px rgb(255, 143, 3)) contrast(95%);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 4.4rem;
    left: -.45rem;
    width: 1rem;
    height: 1rem;
}




/* preview-related stuff for form */
.preview {
    position: relative;
    height: 32rem;
    width: 18rem;
    padding-left: 2rem;
    padding-top: 4rem;
}

.preview .faction-icon {
    height: 50px;
    width: 50px;
    object-fit: cover;

}

.profile h2,
.test-avatar h2 {
    position: relative;
    font-family: "Inquisition";
    color: white;
    top: -1rem;
}


.profile,
.test-avatar {
    font-family: "Inquisition";
    position: relative;
    object-fit: contain;
    height: 26rem !;
    width: 15rem;

}

@media screen and (max-width: 750px) {

    .preview {
        position: relative;
        height: 27rem;
        width: 18rem;
        padding-left: 2rem;
        padding-top: 0rem;
        position: relative;
        top: 7rem;
        left: -5rem;
        scale: .55;
        margin: auto;
    }
}
