.athletes {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    height: 100%;
    justify-content: space-evenly;
}

.outer-profile {
    border: 3px solid black;
}

.profile {

    height: 35rem;
    width: 25rem;
    padding: 10px;
    /*card animation stuff*/
    background-color: transparent;
    /* border: 1px solid #f1f1f1; */
    /* border: 3px solid red; */

    border-radius: 3px;
    perspective: 1000px;

}


.card {
    position: relative;
    width: 100%;
    height: 100%;
    /* height: 35rem; */
    /* height: fit-content; */
    /* width: 25rem; */

    text-align: center;
    /*card animation stuff*/
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-front {
    position: relative;

}

.card-back {
    position: relative;
    /* height: 100%; */
}

.card-img {
    object-fit: contain;
    height: 35rem;
    width: 28rem;
}

.back-img {
    height: 60%;
    width: 60%;
    object-fit: contain;
    /* float: right; */
}

.front-info {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(200, 200, 200, .1);
    height: 35rem;
    width: 100%;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: red;

}

.front-info #basic-info {
    display: relative;
    margin-left: auto;
}

.front-info .name {
    font-size: 30px;
}

.front-info .sports {
    font-size: 15px;
}


.back-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35rem;
    background-color: rgba(200, 200, 200, .8);
    border: 3px solid red;
    /* border: 1px solid #f1f1f1; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.back-info img,
.back-info div {
    border: 1px solid chartreuse;
}

#basic-info {
    width: 40%;
}

#about {
    width: 100%;
}


.about,
.interests {
    word-break: break-all;
    overflow-y: scroll;
    max-height: 20%;

}

.about::-webkit-scrollbar,
.interests::-webkit-scrollbar {
    display: none;
}

.delete-button {
    z-index: 15;
    margin: 20px;
}


/* Card animation*/
.profile:hover .card {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front {
    background-color: #bbb;
    color: black;

}

.card-back {
    color: white;
    transform: rotateY(180deg);
}
