.athletes {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    justify-content: space-evenly;
}

.profile {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 35rem;
    width: 28rem;
    padding: 10px;
}

.card-front {
    position: relative;
}

.card-img {
    object-fit: cover;
    height: 35rem;
    width: 28rem;
}

.card-info {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(200, 200, 200, .8);
}

.about,
.interests {
    word-break: break-all;
    overflow-y: scroll;
    max-height: 20%;

}

.about::-webkit-scrollbar,
.interests::-webkit-scrollbar {
    display: none;
}
