.splash {
    font-family: "Inquisition";
    border: 1px solid chartreuse;
    width: 80%;
    height: 40rem;
    margin: auto;
    color: white;
    text-shadow: 1px 1px 1px green;
    position: relative;
    top: 10rem;
    overflow-y: scroll;
}

#splash-buttons {
    position: relative;
    top: 10rem;
}

.sans-nav button {
    position: relative;
    /* top: 12rem */
}

.splash h2 {
    font-size: 60px;
}

.splash p {
    font-size: 30px;
}
